In [2]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
import pandas as pd
import shapefile
%matplotlib inline
import os
import  time

In [ ]:
t1 = time.time()
df = pd.DataFrame()
for i in range (1, 6):
    datos = pd.read_csv('datos/2018-02-14/d{}.txt'.format(i))
    df['Tpro{}'.format(i)] = datos['Tpro'.format(i)]
    df['Noch_fres{}'.format(i)] = (datos['Tmax'.format(i)] - datos['Tmin'.format(i)])
    df['Dpoint{}'.format(i)] = datos['Dpoint'.format(i)]
    Long,Lat,WprSoil10_40 = datos['Long'], datos['Lat'], datos['WprSoil10_40']
df['Long'], df['Lat'] ,df['WprSoil10_40'] = Long, Lat, WprSoil10_40
t2 = time.time()
def roya(Tpro,Dpoint,Noch_fres):
    return 1 if Tpro >= 25 and Tpro <=30 and Dpoint > 5 and Noch_fres >= 15 and Noch_fres <=20 else 0
def indice(d1,d2,d3,d4,d5):
    if d1==1 and d2==1 and d3==1 and d4==1 and d5==1:
        return 10 
    elif d1==0 and d2==1 and d3==1 and d4==1 and d5==1:
        return 9 
    elif d1==1 and d2==1 and d3==1 and d4==1 and d5==1:
        return 8 
    elif d1==1 and d2==1 and d3==1 and d4==0 and d5==0:
        return 7 
    elif d1==0 and d2==1 and d3==1 and d4==1 and d5==0:
        return 6
    elif d1==0 and d2==0 and d3==1 and d4==1 and d5==1:
        return 5 
    elif d1==1 and d2==1 and d3==0 and d4==0 and d5==0:
        return 4 
    elif d1==0 and d2==1 and d3==1 and d4==0 and d5==0:
        return 3 
    elif d1==0 and d2==0 and d3==1 and d4==1 and d5==0:
        return 2 
    elif d1==0 and d2==0 and d3==0 and d4==1 and d5==1:
        return 1 
    else:
        return 0
t3 = time.time()
Long= np.array(df['Long'])
Long_min, Long_max = Long.min(), Long.max()
Lat= np.array(df['Lat'])
Lat_min, Lat_max = Lat.min(), Lat.max() 
df = df.loc[df['WprSoil10_40'] <= 99]
variables = ['Tpro','Dpoint','Noch_fres']
for j in range (1,6):
    df['d{}'.format(j)] = df.apply(lambda x:roya(x['{}{}'.format(variables[0],j)],x['{}{}'.format(variables[1],j)],x['{}{}'.format(variables[2],j)]),axis=1)
df['indice'] = df.apply(lambda x:indice(x['d1'],x['d2'],x['d3'],x['d4'],x['d5']),axis=1)
t4 = time.time()
colores = ['#00FF00','#00FF00','#00FF00','#00FF00','#FFFF00','#FFFF00','#FFFF00','#FF8000','#FF8000','#FF0000']
map = Basemap(projection='mill', resolution='c', llcrnrlon=Long.min(), llcrnrlat=Lat.min(), urcrnrlon=Long.max(), urcrnrlat=Lat.max())
for i in range (1, 11):
    var = df.loc[df['indice']==i]   
    Eje_x, Eje_y = np.array(var['Long']), np.array(var['Lat'])
    x, y = map(Eje_x, Eje_y)
    map.scatter(x, y, marker='.',color='{}'.format(colores[i-1]),s=1)
    #map.contourf(x, y, z, color='{}'.format(colores[i-2]))

plt.savefig("Pronostico_ROYA")
t5 = time.time()
tt1 = t1 - t2
tt2 = t3 - t4
tt3 = t4 - t5
print (tt1)
print (tt2)
print (tt3)

In [77]:
Tierra[Tierra['indice']==2].head()

,Tpro1,Noch_fres1,Dpoint1,Tpro2,Noch_fres2,Dpoint2,Tpro3,Noch_fres3,Dpoint3,Tpro4,...,Dpoint5,Long,Lat,WprSoil10_40,d1,d2,d3,d4,d5,indice
2259,28.2346,20.403947,12.80080,28.3671,21.703592,12.1362,27.6983,19.783577,14.3275,27.1162,...,14.5487,-88.269,13.3728,17.3879,0,0,1,1,0,2
8284,27.5162,21.482773,16.25420,28.4992,21.709707,16.7492,28.3021,19.694436,17.4892,28.1562,...,18.9754,-94.262,16.3307,14.4554,0,0,1,1,0,2
12819,23.1204,17.018178,16.34210,24.1717,17.269313,16.4954,25.1242,18.027185,15.6046,25.0292,...,18.6150,-96.685,18.5206,22.1221,0,0,1,1,0,2
13794,24.8521,19.593237,10.11420,25.4479,20.215152,11.5871,25.5312,19.168982,13.6387,25.0842,...,16.0375,-101.403,19.0036,20.6537,0,0,1,1,0,2
23370,27.8029,21.610645,7.89583,26.9096,20.211386,11.6904,25.8354,19.462733,13.3908,25.1408,...,15.1033,-106.249,23.5181,22.1083,0,0,1,1,0,2